# Dependencies
node_modules/
client/node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
client/build/
dist/

# Temporary files
*.tmp
~$*

